servidores/ServiciosSOAP/resources/Sesion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Sesion" targetNamespace="http://www.example.org/Sesion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.example.org/Sesion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Sesion/">
      <xsd:element name="Login">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="dni" type="xsd:string"/>
          	<xsd:element name="password" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LoginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="autorizado" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="parameters" element="tns:LoginResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="parameters" element="tns:Login">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Sesion">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginRequest">
    </wsdl:input>
      <wsdl:output message="tns:LoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SesionSOAP" type="tns:Sesion">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.example.org/Sesion/Login"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sesion">
    <wsdl:port name="SesionSOAP" binding="tns:SesionSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
