servidores/ServiciosSOAP/WebContent/Inscripcion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Inscripcion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Inscripcion" targetNamespace="http://www.example.org/Inscripcion/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Inscripcion/">
      <xsd:element name="InscribirDemandante">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="demandante" type="xsd:string" />
          	<xsd:element name="oferta" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InscribirDemandanteResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="inscrito" type="xsd:boolean" />
          	<xsd:element name="message" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InscribirDemandanteRequest">
    <wsdl:part element="tns:InscribirDemandante" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="InscribirDemandanteResponse">
    <wsdl:part element="tns:InscribirDemandanteResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Inscripcion">
    <wsdl:operation name="InscribirDemandante">
      <wsdl:input message="tns:InscribirDemandanteRequest"/>
      <wsdl:output message="tns:InscribirDemandanteResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InscripcionSOAP" type="tns:Inscripcion">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InscribirDemandante">
      <soap:operation soapAction="http://www.example.org/Inscripcion/InscribirDemandante"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Inscripcion">
    <wsdl:port binding="tns:InscripcionSOAP" name="InscripcionSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
