servidores/ServiciosSOAP/WebContent/Sesion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Sesion/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sesion" targetNamespace="http://www.example.org/Sesion/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Sesion/">
      <xsd:element name="Login">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="dni" type="xsd:string" />
          	<xsd:element name="password" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LoginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="autorizado" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LoginRequest">
    <wsdl:part element="tns:Login" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part element="tns:LoginResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Sesion">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginRequest"/>
      <wsdl:output message="tns:LoginResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SesionSOAP" type="tns:Sesion">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="Login">

  		<soap:operation
  			soapAction="http://www.example.org/Sesion/Login" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sesion">
    <wsdl:port binding="tns:SesionSOAP" name="SesionSOAP">
      <soap:address location="http://localhost:8080/ServiciosSOAP/services/Sesion"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
