apache-tomcat-8.0.20/webapps/ode/WEB-INF/processes/procesoCompra/almacen.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://invoke.bpel.mtis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="almacen" targetNamespace="http://invoke.bpel.mtis">
  <wsdl:types>
    <xsd:schema targetNamespace="http://invoke.bpel.mtis">
      <xsd:element name="comprobarStock">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="numeroUnidades" type="xsd:int" />
          	<xsd:element name="referenciaProducto" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="comprobarStockResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="exite" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarStock">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="numeroUnidades" type="xsd:int"></xsd:element>
      			<xsd:element name="referenciaProducto" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="actualizarStockResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="actualizado" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="comprobarStockRequest">
    <wsdl:part element="tns:comprobarStock" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="comprobarStockResponse">
    <wsdl:part element="tns:comprobarStockResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="actualizarStockRequest">
  	<wsdl:part name="parameters" element="tns:actualizarStock"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="actualizarStockResponse">
  	<wsdl:part name="parameters" element="tns:actualizarStockResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="almacen">
    <wsdl:operation name="comprobarStock">
      <wsdl:input message="tns:comprobarStockRequest"/>
      <wsdl:output message="tns:comprobarStockResponse"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarStock">
    	<wsdl:input message="tns:actualizarStockRequest"></wsdl:input>
    	<wsdl:output message="tns:actualizarStockResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="almacenSOAP" type="tns:almacen">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="comprobarStock">

  		<soap:operation
  			soapAction="http://invoke.bpel.mtis/comprobarStock" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="actualizarStock">

  		<soap:operation
  			soapAction="http://invoke.bpel.mtis/actualizarStock" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="almacen">
    <wsdl:port binding="tns:almacenSOAP" name="almacenSOAP">
      <soap:address location="http://localhost:9080/serviciosCompra/services/almacen"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
