apache-tomcat-8.0.20/webapps/ode/WEB-INF/processes/procesoCompra/proveedor2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://invoke.bpel.mtis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="proveedor2" targetNamespace="http://invoke.bpel.mtis">
  <wsdl:types>
    <xsd:schema targetNamespace="http://invoke.bpel.mtis">
      <xsd:element name="SolicitarPresupuesto">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="referenciaProducto" type="xsd:string" />
          	<xsd:element name="numeroUnidades" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SolicitarPresupuestoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="precio" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompra">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="referenciaProducto"
      				type="xsd:string">
      			</xsd:element>
      			<xsd:element name="numeroUnidades" type="xsd:int"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="OrdenarCompraResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="RealizadaCorrectamente" type="xsd:boolean"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarPresupuestoRequest">
    <wsdl:part element="tns:SolicitarPresupuesto" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SolicitarPresupuestoResponse">
    <wsdl:part element="tns:SolicitarPresupuestoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="OrdenarCompraRequest">
  	<wsdl:part name="parameters" element="tns:OrdenarCompra"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="OrdenarCompraResponse">
  	<wsdl:part name="parameters" element="tns:OrdenarCompraResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="proveedor2">
    <wsdl:operation name="SolicitarPresupuesto">
      <wsdl:input message="tns:SolicitarPresupuestoRequest"/>
      <wsdl:output message="tns:SolicitarPresupuestoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="OrdenarCompra">
    	<wsdl:input message="tns:OrdenarCompraRequest"></wsdl:input>
    	<wsdl:output message="tns:OrdenarCompraResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="proveedor2SOAP" type="tns:proveedor2">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="SolicitarPresupuesto">

  		<soap:operation
  			soapAction="http://invoke.bpel.mtis/SolicitarPresupuesto" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="OrdenarCompra">

  		<soap:operation
  			soapAction="http://invoke.bpel.mtis/OrdenarCompra" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="proveedor2">
    <wsdl:port binding="tns:proveedor2SOAP" name="proveedor2SOAP">
      <soap:address location="http://localhost:9080/serviciosCompra/services/proveedor2"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
