Contratos/WSDL/Documento.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/Documento/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Documento" targetNamespace="http://www.example.org/Documento/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/Documento/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="GenerarDocumentoInscripcion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="datos" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GenerarDocumentoInscripcionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="tns:FormatoDocumento" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
    
      <xsd:complexType name="FormatoDocumento">
      	<xsd:sequence>
      		<xsd:element name="titulo" type="xsd:string"></xsd:element>
      		<xsd:element name="fecha" type="xsd:date"></xsd:element>
      		<xsd:element name="cuerpo" type="xsd:string"></xsd:element>
      		<xsd:element name="tipo" type="xsd:string"></xsd:element>
      		<xsd:element name="asunto" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GenerarDocumentoInscripcionRequest">
    <wsdl:part element="tns:GenerarDocumentoInscripcion" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GenerarDocumentoInscripcionResponse">
    <wsdl:part element="tns:GenerarDocumentoInscripcionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Documento">
    <wsdl:operation name="GenerarDocumentoInscripcion">
      <wsdl:input message="tns:GenerarDocumentoInscripcionRequest"/>
      <wsdl:output message="tns:GenerarDocumentoInscripcionResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DocumentoSOAP" type="tns:Documento">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GenerarDocumentoInscripcion">
      <soap:operation soapAction="http://www.example.org/Documento/GenerarDocumentoInscripcion"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Documento">
    <wsdl:port binding="tns:DocumentoSOAP" name="DocumentoSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
